body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

h1 {
  color: #333;
}

input, select {
  margin: 8px;
  padding: 5px;
}

form {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  display: inline-block;
}

#valor {
  margin-top: 15px;
  font-weight: bold;
}
